/* Paleta de cores */
$cor1: #0e0b16;
$cor2: #a239ca;
$cor3: #4717f6;
$cor4: #e7dfdd;
/* Fonte */
$fonte: "Raleway", sans-serif;

body {
	height: 100vh;
    background: linear-gradient(0, $cor3 50%, $cor1 100%) ;
}

header {
	height: 150px;
}

.navbar-brand {
	font-family: $fonte;
    color: white;
}
