/* Paleta de cores */
$cor1: #084177;
$cor2: #687466;
$cor3: #cd8d7b;
$cor4: #fbc490;
$cor5: #ffff;
$cor6: #720c89;
/* Fonte */
$fonte: "Raleway", sans-serif;

body {
	height: 100vh;
	background: linear-gradient(45deg, $cor1, $cor2, $cor3, $cor4);
	background-size: 300% 350%;
	animation: movement 20s ease infinite;
}

header {
	height: 80px;
}

.navbar-brand {
	font-family: $fonte;
	color: $cor5;
}

@keyframes movement {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 30% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
